torch==2.6.0
torchvision==0.21.0
opencv-python==4.11.0.86
scikit-image==0.25.2
Pillow==11.1.0
numpy==2.2.4
pandas==2.2.3
lightning==2.5.1
wandb==0.19.8
tqdm==4.67.1
matplotlib==3.10.1
ipykernel==6.29.5
kaggle==1.7.4.2